@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --arctic-powder: #F1F6F4;
  --mystic-mint: #D9E8E2;
  --forsythia: #FFC801;
  --deep-saffron: #FF9932;
  --nocturnal: #114C5A;
  --oceanic-noir: #172B36;

  --ease-micro: 175ms ease-out;
  --ease-layout: 350ms ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--oceanic-noir);
  color: var(--arctic-powder);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}